# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# TypeScript cache
*.tsbuildinfo

# Output directory of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Development / Production Build outputs
build/
dist/
out/
.next/
.nuxt/

# Coverage directory used by tools like istanbul
coverage
*.lcov
.nyc_output

# dotenv environment variable files (เก็บความลับ/API Keys ห้าม push ขึ้น GitHub เด็ดขาด)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Serverless Webpack directories
.serverless/

# Editor directories and files (การตั้งค่าของโปรแกรม Tool ต่างๆ)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files (ไฟล์ขยะของระบบปฏิบัติการ)
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

src/assets/vdo/suction/*.mp4
